.wrapper {
  width: 100%;
}
.label {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.validate {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--error);
  letter-spacing: 0;
}
.input {
  font-family: inherit;
  color: inherit;
  background-color: var(--white-12);
  border: 1px solid var(--line);
  border-radius: 0.5rem;
  padding: 0.6rem 3rem 0.6rem 1rem;
  width: 100%;
  height: 34px;
  /* min-width: 250px; */
}
.wrapper__relative {
  position: relative;
}
.input:focus {
  box-shadow: 0 0 5px 4px var(--btn-bg-hover);
  outline: none;
}
.input:disabled {
  background-color: var(--loading);
  color: var(--line);
}
.checkmark {
  overflow: hidden;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0.5rem;
  top: calc(50% - 9px);
}
.hideCheckmark {
  padding: 0.6rem 1rem;
}
/* Общие стили для календаря */
.input[type='date']::-webkit-calendar-picker-indicator {
  /* инвертируем цвет значка */
  filter: invert(1);
}
.box__info {
  display: flex;
  align-items: center;
  gap: 3px;
}
.hasError {
  border: 1px solid var(--error);
}
/* ====================================================================== */
@media (max-width: 576px) {
  .input {
    padding: 0.6rem 3rem 0.6rem 0.5rem;
  }
  .hideCheckmark {
    padding: 0.6rem 0.5rem;
  }
}
