.group {
  overflow: hidden;
}
.scrollable {
  white-space: pre;
  overflow-x: auto;
  max-width: 100%;
  margin: 0;
  padding: 0 0 10px 0;
}
.string {
  color: rgb(0, 180, 0);
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: rgb(255, 61, 61);
}
