.button {
  font-weight: 700;
  font-size: 14px;
  border: 1px solid var(--line);
  border-radius: 0.4em;
  padding: 0.4em 0.8em;
  cursor: pointer;
  letter-spacing: 0.06em;
  user-select: none;
  color: var(--main-color);
}
.button:not(.active) {
  color: gray;
  transition: 0.2s;
}
.button:not(.active):hover {
  background-color: var(--white-12);
  transition: 0.2s;
}
.button:not(.active):active {
  transition: 0.2s;
}
.button__center {
  border-left: none;
  border-radius: 0px;
}
.button__left {
  border-radius: 0.4em 0px 0px 0.4em;
}
.button__right {
  border-left: none;
  border-radius: 0px 0.4em 0.4em 0px;
}
.active {
  background-color: var(--color-orange);
  transition: 0.2s;
}

@media screen and (max-width: 992px) {
  .button {
    padding: 0.2em 0.6em;
  }
}
