.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.line {
  margin: 25px 0px;
  padding: 0;
  height: 3px;
  border: none;
  background: var(--main-bg-color);
}
.credentials {
  margin: 1rem 0;
}
.entering {
  height: 221px;
  transition: ease-in-out 0.2s;
}
.entered {
  transition: ease-in-out 0.2s;
  height: 221px;
  overflow: visible;
}
.exiting {
  height: 0;
  transition: ease-in-out 0.2s;
  overflow: hidden;
}
.exited {
  transition: ease-in-out 0.2s;
  height: 0;
  overflow: hidden;
}
.announcement {
  font-size: 0.9rem;
  padding: 0.7rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  background-color: var(--white-20);
}
