.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.box__button {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.line {
  border: none;
  border-top: 1px solid var(--line);
  margin-bottom: 1rem;
  width: 100%;
}
.separators {
  gap: 2rem;
}
