.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.form__registration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
}
.wrapper__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.wrapper__block {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
  background-color: var(--white-12);
  padding: 1rem 1.4rem 1.4rem 1.4rem;
  border-radius: 1rem;
  word-break: break-word;
}
.wrapper__block:focus-within {
  background-color: var(--focus-within);
}
.box__button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.box__button_registration {
  grid-column: 2/3;
  grid-row: 2;
  justify-self: end;
}
.separators {
  gap: 1.5rem;
}
.block__info {
  width: 100%;
}
.full__width {
  width: 100%;
}
.box__input {
  width: 100%;
}
.input {
  font-family: inherit;
  color: inherit;
  background-color: var(--white-12);
  border: 1px solid var(--line);
  border-radius: 0.5rem;
  padding: 0.6rem 3rem 0.6rem 0.5rem;
  width: 100%;
  min-width: 250px;
}
.input:disabled {
  background-color: var(--loading);
  color: var(--line);
}
.label {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
}
.error {
  color: var(--error);
}
/* ====================================================================== */
@media (max-width: 768px) {
  .form__registration {
    grid-template-columns: 100%;
    gap: 1rem;
  }
  .box__button_registration {
    grid-column: auto;
    grid-row: auto;
    justify-self: end;
  }
}
@media (max-width: 576px) {
  .wrapper__block {
    padding: 1rem 0.5rem 1.4rem;
  }
}
