.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.box__button {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.separators {
  gap: 2rem;
}
.block__info {
  width: 100%;
}
