.legend__item {
  display: grid;
  grid-template-columns: 20px 150px;
  align-items: center;
  gap: 0.5rem;
}
.legend__term {
  width: 1rem;
  height: 1rem;
}
.mtb {
  background-color: var(--bg-mtb);
}
.road {
  background-color: var(--bg-road);
}
.gravel {
  background-color: var(--bg-gravel);
}
.dh {
  background-color: var(--bg-dh);
}
.tt {
  background-color: var(--bg-tt);
}
