.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 450px;
  border-radius: 1rem;
  background-color: var(--white-20);
}
.box__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 330px;
  border-radius: 1rem;
}
.poster {
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}
.box__logo {
  position: absolute;
  top: 280px;
  left: 45px;
  width: 100px;
  height: 100px;
  background-color: var(--white-50);
  border-radius: 1rem;
  padding: 5px;
}
.logo {
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}
.block__text {
  padding: 350px 2rem 2rem 180px;
}
.title {
  margin-bottom: 6px;
}
.description {
  font-size: 1.1rem;
}

/* ====================================================================== */
@media (max-width: 768px) {
  .box__logo {
    top: 210px;
    left: 20px;
  }
  .block__text {
    padding: 350px 2rem 2rem 2rem;
  }
}
@media (max-width: 576px) {
  .box__logo {
    top: 214px;
    left: 14px;
  }
  .block__text {
    padding: 350px 1rem 1rem 1rem;
  }
}
