.wrapper {
  display: grid;
  gap: 1rem 20px;
  grid-template-columns: 1fr 468px;
  letter-spacing: 0.08rem;
}
.wrapper__main {
  width: 100%;
  background-color: var(--white-12);
  padding: 1rem 1.4rem 1.4rem 1.4rem;
  border-radius: 1rem;
}
.title {
  margin-bottom: 1rem;
}
.author {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}
.author__img {
  border-radius: 0.5rem;
}
.author__name {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
}
.author__name:hover {
  transition: 0.2s;
  text-decoration-color: inherit;
}
.author__date {
  color: var(--white-50);
}
.box__img {
  position: relative;
  width: 100%;
  height: 30vw;
  margin-bottom: 1rem;
}
.img {
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
.subtitle {
  margin-bottom: 1rem;
  font-weight: 500;
}
.content {
  font-size: 1.1rem;
  padding: 0 9%;
  margin: 0 auto;
}
.article__block {
  margin-bottom: 1.5rem;
}
.content__text {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}
.content__box__img {
  position: relative;
  width: 100%;
  height: 25vw;
}
.content__img {
  object-fit: cover;
}
.tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.interactive {
  display: flex;
  justify-content: center;
}

/* ====================================================================== */
@media (max-width: 1100px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .content__box__img {
    height: 45vw;
  }
}
@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .box__img {
    height: 55vw;
  }

  .content__box__img {
    height: 55vw;
  }
}
@media (max-width: 576px) {
  .wrapper__main {
    padding: 1rem 0.5rem 1.4rem;
  }
  .content {
    padding: 0 3%;
  }
}
