.wrapper {
  display: grid;
  gap: 1rem 20px;
  grid-template-columns: 1fr 350px;
  letter-spacing: 0.08rem;
}
.wrapper__main {
  position: relative;
}
.ellipsis {
  position: absolute;
  top: 1rem;
  right: 3px;
}
.author {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.3rem;
}
.box__img {
  position: relative;
  width: 100%;
  aspect-ratio: 16/10;
  margin-bottom: 1rem;
}
.img {
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
.subtitle {
  margin-bottom: 1rem;
  font-weight: 500;
}
.content {
  font-size: 1.1rem;
  padding: 0 4rem;
  margin: 0 auto;
}
.article__block {
  margin-bottom: 1.5rem;
}
.content__text {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}
.block__img {
  text-align: right;
}
.block__edit {
  text-align: right;
  padding: 0.5rem 0;
}
.content__box__img {
  position: relative;
  width: 100%;
  aspect-ratio: 16/10;
  margin-bottom: 0.3rem;
}
.content__img {
  object-fit: cover;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.interactive {
  display: flex;
  justify-content: center;
}
.line {
  border: none;
  border-top: 1px solid var(--line);
  margin: 1rem auto;
  width: 100%;
  max-width: 360px;
}
.img__title {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--white-50);
}
.block__comments {
  margin-bottom: 1rem;
}
.block__files {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-style: italic;
}
.block__files span {
  margin-right: 1rem;
}
/* ====================================================================== */
@media (max-width: 1400px) {
  .content {
    padding: 0rem 2rem;
  }
}
@media (max-width: 1100px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 576px) {
  .content {
    padding: 0rem 1rem;
  }
  .content__text {
    font-size: 1rem;
  }
  .author {
    margin-bottom: 0.5rem;
  }
  .content__text {
    margin-bottom: 0.5rem;
    line-height: 1.3;
  }
}
