.title {
  margin-bottom: 7px;
}
.h1 {
  font-size: 26px;
}
.h2 {
  font-size: 22px;
}
.h3 {
  font-size: 18px;
}

.line {
  border: none;
  border-top: 1px solid var(--line);
  margin-bottom: 1rem;
}
