.content {
  letter-spacing: 0.08rem;
}
.title {
  margin-bottom: 1rem;
}
.paragraph {
  margin-bottom: 1rem;
}

/* ====================================================================== */
@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
