.wrapper {
  width: 100%;
}
.categoryItem + .categoryItem {
  margin-top: 1.5rem;
}
.block__icons {
  display: flex;
  gap: 0.7rem;
}
.block__inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.btn {
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
