.block {
  margin-bottom: 5px;
}
.box__label {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  font-size: 14px;
}
.link {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 0.9rem;
  text-decoration: underline;
  color: var(--link-auth-color);
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
  color: var(--link-auth-color-hover);
}
.input {
  width: 100%;
  height: 27px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid var(--link-auth-color);
  border-radius: 0.7rem;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: var(--link-auth-color);
  padding: 0px 10px;
  margin-bottom: 4px;
}
.input:focus {
  outline: solid 3px var(--btn-auth-bg);
  border: none;
}
.validation {
  height: 14px;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0;
  color: red;
  padding: 0px 5px;
}
