.btn {
  background: none;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 28px;
}
.img {
  object-fit: fill;
  object-position: center;
  cursor: pointer;
}

/* @media (max-width: 992px) {
  .img {
    display: none;
  }
} */
