.wrapper {
  display: flex;
  gap: 24px 45px;
}
.profile__image {
  border-radius: 1rem;
  margin-bottom: 24px;
}
.empty {
  width: 300px;
  height: 300px;
  background-color: green;
  border-radius: 1rem;
  margin-bottom: 24px;
}
.wrapper__aside {
  max-width: 300px;
}
.wrapper__main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 34px 0;
}
.wrapper__details {
  margin-bottom: 24px;
}
.title__races {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 7px;
}
.line {
  border: none;
  border-top: 2px solid var(--line);
  margin-bottom: 1.2rem;
}
.paragraph {
  font-size: 1.1em;
}
.title {
  font-size: 1.6rem;
  margin-bottom: 14px;
}
.list {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  font-size: 1.1rem;
  gap: 5px 0;
}
.desc__title::after {
  content: ':';
}
.desc__detail {
  grid-column: 2;
}
