.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 450px;
  border-radius: 1rem;
  background-color: var(--white-20);
}
.box__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  border-radius: 1rem;
}
.poster {
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}
.box__logo {
  position: absolute;
  top: 450px;
  left: 45px;
  width: 100px;
  height: 100px;
  background-color: var(--white-50);
  border-radius: 1rem;
  padding: 5px;
}
.box__date {
  position: absolute;
  top: 24px;
  left: 45px;
}

.logo {
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}
.block__text {
  padding: 520px 2rem 2rem 180px;
}
.title {
  margin-bottom: 6px;
}
.description {
  font-size: 1.1rem;
}

/* ====================================================================== */
@media (max-width: 1300px) {
  .box__logo {
    top: 380px;
    left: 20px;
  }
  .box__date {
    left: 20px;
    padding: 2px 0.5rem;
  }
  .block__text {
    padding: 520px 2rem 2rem 2rem;
  }
}
@media (max-width: 992px) {
  .box__poster {
    height: 380px;
  }
  .box__logo {
    top: 260px;
    left: 20px;
  }
  .box__date {
    left: 20px;
    padding: 2px 0.5rem;
  }
  .block__text {
    padding: 400px 2rem 2rem 2rem;
  }
}
@media (max-width: 576px) {
  .box__poster {
    height: 300px;
  }
  .box__logo {
    top: 184px;
    left: 14px;
  }
  .box__date {
    left: 14px;
  }
  .block__text {
    padding: 320px 1rem 1rem 1rem;
  }
}
