.list {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 1.1rem;
  gap: 8px 1rem;
  margin-bottom: 5px;
}
.desc__title::after {
  content: ':';
}
.desc__detail {
  grid-column: 2;
}
.fadeEnter {
  opacity: 0;
}
.fadeEnterActive {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.fadeExit {
  opacity: 1;
}
.fadeExitActive {
  opacity: 0;
  transition: opacity 200ms ease-out;
}
