.wrapper {
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
.image__control {
  display: flex;
  flex-direction: column;
}
.img {
  border-radius: 0.5rem;
  object-fit: cover;
}

/* ====================================================================== */
@media (max-width: 992px) {
  .wrapper {
    gap: 20px;
  }
}
