.box__today {
  display: flex;
  align-items: center;
}
.day {
  font-size: 1.1rem;
}
.temperature__today {
  font-size: 1.8rem;
}
.block__day {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box__day {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.1em;
}
.box__temperature {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}
.temperature__feels {
  font-size: 1rem;
  color: var(--white-50);
}
.box__additional {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.icon {
  filter: invert(1) sepia(1) saturate(4) hue-rotate(0deg);
}
.box__icon .tooltip {
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
  font-family: inherit;
}
