.wrapper {
  display: flex;
  width: 200px;
  border: 1px solid var(--line);
  border-bottom: none;
  margin: 0;
}
.wrapper:last-child {
  border-bottom: 1px solid var(--line);
}
.input {
  color: var(--main-color);
  background-color: var(--white-12);
  margin: 0;
  padding: 0.8rem 1rem;
  flex: 0 1 100px;
  min-width: 0;
  border: 0;
  border-right: 1px solid var(--line);
}
.input:first-child {
  text-align: center;
}
.input:last-child {
  border-right: none;
}
.input:disabled {
  background-color: var(--white-50);
}
.input:focus {
  outline: none;
}
.input[type='number']::-webkit-inner-spin-button,
.input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
