.background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.icon {
  margin-right: 5px;
  vertical-align: text-bottom;
}
.wrapper {
  position: relative;
  flex: 0 0 auto;
  max-width: 370px;
  padding: 1.7rem 1.2rem;
  border-radius: 0.5rem;
  color: var(--main-color-dark);
  background-color: var(--color-orange);
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  text-align: left;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}
