.wrapper {
  display: grid;
  grid-gap: 1rem 20px;
  grid-template-columns: 1fr 468px;
}
.wrapper__main {
  position: relative;
}
.wrapper__aside {
  margin-top: 39px;
}
.wrapper__trails {
  display: grid;
  grid-gap: 1rem 2rem;
  grid-template-columns: repeat(auto-fit, 308px);
}
/* ====================================================================== */
@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .wrapper__aside {
    margin-top: 0px;
  }
}
