.wrapper {
  display: grid;
  grid-gap: 1rem 20px;
  grid-template-columns: 1fr 468px;
}
/* .wrapper__aside {
  background-color: var(--white-12);
  border-radius: 1rem;
  height: 30vh;
} */
.wrapper__trails {
  display: grid;
  grid-gap: 1rem 2rem;
  grid-template-columns: repeat(auto-fit, 308px);
}
/* ====================================================================== */
@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
