.wrapper {
  width: 100%;
  padding: 1px;
  border-radius: 2px;
}
.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2px;
  overflow: hidden;
  border: none;
  color: var(--dark);
}
.time {
  font-size: 12px;
  line-height: 14px;
}
.title {
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0;
}
