.link {
  width: 100%;
  padding: 1px;
  border-radius: 2px;
}
.link:hover {
  outline: 1px solid var(--color-orange);
}
.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4px 2px;
  overflow: hidden;
  border: none;
  color: var(--dark);
}
.title {
  font-size: 0.9rem;
  line-height: 1;
  letter-spacing: 0;
}
.mtb {
  background-color: var(--bg-mtb);
}
.road {
  background-color: var(--bg-road);
}
.gravel {
  background-color: var(--bg-gravel);
}
.dh {
  background-color: var(--bg-dh);
}
/* ====================================================================== */
@media (max-width: 768px) {
  .title {
    font-size: 0.7rem;
  }
}
