.wrapper {
  width: 100%;
  background-color: var(--white-12);
  padding: 1rem;
  border-radius: 0.5rem;
}
.title {
  font-size: 1.6rem;
  margin-bottom: 14px;
}
.list {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 1.1rem;
  gap: 8px 1rem;
  margin-bottom: 5px;
}
.desc__title::after {
  content: ':';
}
.desc__detail {
  grid-column: 2;
}
