.wrapper {
  background-color: var(--white-12);
  border-radius: 1rem;
  overflow: hidden;
}
/* цвет кнопок соответствует цвету меню, ховер добавляет белой прозрачности */
.btn {
  position: relative;
  color: var(--main-color);
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 60px;
  font-size: 1.1rem;
  width: 100%;
  cursor: pointer;
  letter-spacing: 0.06rem;
}
.list li:not(:last-child) {
  border-bottom: 1px solid var(--line);
}
.active {
  background-color: var(--white-20);
}
.top {
  border-radius: 1rem 1rem 0 0;
}
.bottom {
  border-radius: 0 0 1rem 1rem;
}
.solo {
  border-radius: 1rem;
}
.btn:hover {
  transition: all 0.25s;
  background-color: var(--white-12);
}
.box__icon {
  position: absolute;
  left: 1rem;
  top: calc(50% - 11px);
}
