.wrapper {
  width: 100%;
  background-color: var(--white-12);
  padding: 1rem 1.4rem 1.4rem 1.4rem;
  border-radius: 1rem;
}
.gaps {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
/* ====================================================================== */
@media (max-width: 576px) {
  .wrapper {
    padding: 1rem 0.5rem 1.4rem;
  }
}
