.btn {
  width: 100%;
  font-family: var(--font-montserrat_Alternates);
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--link-auth-color);
  background-color: var(--btn-auth-bg);
  border-radius: 0.7rem;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3rem 1.5rem;
  transition: all 0.3s;
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--main-color-dark);
}

.btn:disabled {
  background-color: var(--loading);
  cursor: not-allowed;
  transition: none; /* отключить переходы для отключенной кнопки */
}
.btn:disabled:hover,
.btn:disabled:active {
  background-color: var(--loading);
  transition: none; /* отключить переходы для состояния hover и active для отключенной кнопки */
}
.btn:focus {
  outline: 3px solid var(--btn-focus);
}
.btn:hover:not(:disabled) {
  background-color: var(--link-auth-color-hover);
  transition: all 0.3s; /* переход для кнопки при hover, если она не отключена */
}

.btn:active:not(:disabled) {
  transform: translateY(-1px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.3s; /* переход для кнопки при active, если она не отключена */
}
.img {
  display: block;
}
.without__icon {
  justify-content: center;
}

/* темы для кнопок */
.green {
  flex: 0 0 auto;
  width: auto;
  font-size: 1.1rem;
  border: none;
  color: var(--main-color);
  background-color: var(--btn-bg);
}
.green:hover {
  transition: all 0.2s;
  background-color: var(--btn-bg-hover);
}
.green:active {
  background-color: var(--btn-bg-active);
}
.green:focus {
  box-shadow: 0 0 5px 4px var(--btn-bg-hover);
  outline: none;
}
