.block__header {
  position: relative;
  margin-bottom: 1rem;
}
.wrapper__cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper__contacts,
.wrapper__races {
  margin-bottom: 1rem;
}
.ellipsis {
  position: absolute;
  top: 1rem;
  right: 3px;
  z-index: 100;
}
.wrapper {
  display: grid;
  grid-gap: 1rem 20px;
  grid-template-columns: 1fr 468px;
}
.wrapper__main {
  position: relative;
}
.spacer__menu {
  margin-bottom: 2rem;
}
/* ====================================================================== */
@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 100%;
  }
}
