.title {
  margin-bottom: 7px;
}
.block__contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 7px 20px;
  padding-right: 15rem;
}
.box__contacts {
  display: flex;
  align-items: center;
  gap: 5px;
}
.link {
  text-decoration: underline;
  text-decoration-color: transparent;
  color: var(--link-color);
}
.link:hover {
  transition: all 0.3s;
  text-decoration-color: var(--link-color);
}
/* ====================================================================== */
@media (max-width: 1200px) {
  .block__contacts {
    padding-right: 0rem;
  }
}
@media (max-width: 576px) {
  .wrapper {
    padding: 1rem;
  }
}
