.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.box__button {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.wrapper__inputs {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
