.wrapper {
  width: 100%;
}
.label {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.validate {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--error);
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-family: inherit;
  color: inherit;
  background-color: var(--white-12);
  border: 1px solid var(--line);
  border-radius: 0.5rem;
  padding: 0.6rem 3rem 0.6rem 1rem;
  width: 100%;
  min-width: 250px;
}
.option {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: green;
}
.wrapper__relative {
  position: relative;
}
.select:focus {
  box-shadow: 0 0 5px 4px var(--btn-bg-hover);
  outline: none;
}
.select:disabled {
  background-color: var(--loading);
  color: var(--line);
  cursor: default;
}
.checkmark {
  overflow: hidden;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0.5rem;
  top: calc(50% - 9px);
}
.box__info {
  display: flex;
  align-items: center;
  gap: 3px;
}
.hideCheckmark {
  padding: 0.6rem 1rem;
}
/* ====================================================================== */
@media (max-width: 576px) {
  .select {
    padding: 0.6rem 3rem 0.6rem 0.5rem;
  }
  .hideCheckmark {
    padding: 0.6rem 0.5rem;
  }
}
