:root {
  --main-color: #fafafa;
  --main-color-dark: #0f0f0f;
  --main-bg-color: linear-gradient(
    90.53deg,
    #0a233a 38.59%,
    #133810 99.51%
  ); /* основной цвет фона */
  --link-auth-color: #050505;
  --link-auth-color-hover: #479692;
  --btn-auth-bg: #55b3ae;
  --btn-focus: #018a83;

  --link-color: rgb(98, 161, 255);

  /* зеленая кнопка */
  --btn-bg: #318d2c;
  --btn-bg-hover: #3fb439;
  --btn-bg-active: var(--color-orange);

  --error-color: #ff4848;
  --error: #ff4848;
  --warning: #ffa500;
  --info: blue;
  --success: green;
  --color-orange: #ec9c07;
  --mtb: rgba(93, 32, 32, 0.6);

  --line: #979797; /* для разделительной линии hr */
  --white-12: rgba(255, 255, 255, 0.12);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-50: rgba(255, 255, 255, 0.5);

  --loading: #0000005d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-size: 14px;
  letter-spacing: 0.05rem;
  color: var(--main-color);
  background: var(--main-bg-color);
}
.fixed {
  position: fixed;
}

h1 {
  font-size: 1.9rem;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: none;
  background: none;
  color: inherit;
}
input,
button,
select,
textarea:disabled {
  opacity: 1;
}
.body {
  min-height: calc(100vh - 80px);
  padding-bottom: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 1620px;
  margin: 0px auto;
  padding: 0px 10px;
}
.main {
  position: relative;
  min-height: calc(100vh - 80px);
  padding-top: 5px;
}
.toast {
  font-size: 1rem;
}
.link__news {
  text-decoration: underline;
  text-decoration-color: transparent;
  color: var(--link-color);
}
.link__news:hover {
  transition: all 0.3s;
  text-decoration-color: var(--link-color);
}
/* ===================================================================================== */
.page404 {
  font-size: 1.2rem;
  text-align: center;
}
.page404__title {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.page404__link-wrong {
  font-size: 1.4rem;
  color: var(--error-color);
}
.page404__link {
  font-size: 1.4rem;
  color: var(--color-orange);
  text-decoration: underline;
}
.page404__link:hover {
  opacity: 0.8;
}
