.wrapper {
  display: grid;
  gap: 1rem 20px;
  grid-template-columns: 1fr 468px;
  grid-template-rows: auto auto;
  margin-bottom: 1rem;
}
.wrapper__main,
.wrapper__aside {
  width: 100%;
  overflow: hidden;
}
.webcam__title__mobile {
  display: none;
}
.box__webcam {
  margin-bottom: 1rem;
}
.welcome {
  font-size: 1.1rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.spacer {
  margin-bottom: 1rem;
}
.block__ad-mobile {
  display: none;
}
.rtb {
  grid-column: 1 / -1; /* Занимает колонки от первой (1) до последней (-1) */
  width: 100%;
  overflow: hidden;
}
/* ====================================================================== */
@media screen and (max-width: 992px) {
  .webcam__title__mobile {
    display: block;
  }
  .block__ad {
    display: none;
  }
  .block__ad-mobile {
    display: block;
  }
}
@media (max-width: 1100px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 557px) {
  .welcome {
    font-size: 1rem;
  }
}
