.wrapper {
  width: 100%;
}
.wrapper__rider {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 5px;
}
.box__startNumber,
.box__startNumber_new {
  flex: 0 0 60px;
}
.validate {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--error);
}
/* ====================================================================== */
@media (max-width: 576px) {
  .block__rider {
    display: flex;
    gap: 0.5rem;
  }
  .box__startNumber {
    flex: 0 0 55px;
  }
  .box__startNumber_new {
    flex: 0 0 65px;
  }
}
