.title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.list {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 1.1rem;
  gap: 8px 1rem;
  margin-bottom: 5px;
}
.desc__title::after {
  content: ':';
}
.desc__detail {
  grid-column: 2;
}
