.header {
  position: relative;
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 0 20px;
}

.navbar {
  flex: 0 1 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 44px;
}
.box__auth {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.box__user {
  border-radius: 50%;
  width: 30px;
  flex: 0 0 30px;
  height: 30px;
}
