.box__button {
  margin-bottom: 12px;
}
.button {
  display: block;
  width: 100%;
  text-align: center;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--link-auth-color);
  background: var(--btn-auth-bg);
  border-radius: 0.7rem;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 4px 10px 3px 10px;
  margin: 22px 0px 2px 0px;
  transition: all 0.3s;
}
.button:hover {
  background-color: var(--link-auth-color-hover);
  transition: all 0.3s;
}
.button:active {
  transform: translateY(-1px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.box__help {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  font-size: 14px;
}
.link {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 0.9rem;
  text-decoration: underline;
  color: var(--link-auth-color);
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
  color: var(--link-auth-color-hover);
}
.validation {
  height: 14px;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0;
  color: var(--error-color);
  padding: 0px 5px;
  margin-bottom: 2px;
}
