.wrapper__cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.wrapper {
  display: grid;
  grid-gap: 1rem 20px;
  grid-template-columns: 1fr 350px;
  grid-template-rows: auto auto;
}
.wrapper__aside {
  overflow: hidden;
}
.rtb {
  grid-column: 1 / -1; /* Занимает колонки от первой (1) до последней (-1) */
  width: 100%;
  overflow: hidden;
}
/* ====================================================================== */
@media (max-width: 1300px) {
  .wrapper {
    grid-template-columns: 100%;
  }
  .wrapper__aside {
    margin-top: 0px;
  }
  .rtb {
    display: none;
  }
}
