.footer {
  font-family: var(--font-montserrat_Alternates);
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.08em;
  padding-top: 20px;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1rem;
  gap: 1rem 40px;
}
.block {
  flex: 0 1 340px;
  min-width: 240px;
}
.list__social {
  max-width: 580px;
  display: flex;
  gap: 0 10px;
}
.logo {
  width: 199px;
  height: 51px;
}
.title {
  border-bottom: 1px solid var(--line);
  margin-bottom: 0.5rem;
  padding-bottom: 0.2rem;
}
.copyright {
  padding-bottom: 10px;
}

/* ====================================================================== */
@media (max-width: 768px) {
  .logo {
    display: none;
  }
}
