.wrapper {
  width: 100%;
}
.wrapper__races {
  display: flex;
  gap: 1rem;
}
.box {
  flex: 1 1 140px;
  max-width: 700px;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid var(--line);
  transition: 0.3s;
}
.box:focus {
  outline: none;
  box-shadow: 0 0 5px 4px var(--btn-bg-hover);
}
.box:not(.active):hover {
  background-color: var(--filter-bg-hover);
  transition: 0.2s;
}
.active {
  background-color: var(--btn-bg);
}
.name {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.description {
  font-size: 0.9rem;
  color: var(--white-50);
  line-height: 1.3;
}
.label {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 5px;
}
/* ====================================================================== */
@media (max-width: 576px) {
  .wrapper__races {
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .box {
    padding: 1rem;
  }
}
