.wrapper__comment {
  position: relative;
  display: grid;
  grid-template-columns: 45px 1fr;
  font-size: 0.9rem;
  letter-spacing: 0.09rem;
  margin-bottom: 1rem;
}
.author {
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.author span {
  font-weight: 400;
}
.dot {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px; /* Расстояние до соседнего текста */
}
.dot::before {
  content: '\2022';
  line-height: 0; /* Убираем высоту строки */
}
.text {
  margin-bottom: 0.2rem;
}
.data {
  font-size: 0.8rem;
  color: var(--white-50);
}
.footer {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.block__icon {
  flex-grow: 1;
  text-align: right;
}
.box__icon {
  display: flex;
  gap: 0.3rem;
  justify-content: flex-end;
  align-items: flex-end;
}
.btn__control {
  font-family: inherit;
  letter-spacing: inherit;
  font-size: 0.8rem;
  color: var(--white-50);
  margin-right: 1rem;
  cursor: pointer;
}
.btn__control:hover {
  transition: all 0.2s;
  color: var(--white);
}
.icon__label {
  font-size: 0.7;
  color: var(--white-50);
}
.btn {
  font-family: inherit;
  letter-spacing: inherit;
  color: var(--btn-bg);
  font-size: 1rem;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.btn:hover {
  color: var(--btn-bg-hover);
}
/* ====================================================================== */
@media (min-width: 991px) {
}
