.wrapper {
  overflow: hidden;
  width: 100%;
}
.wrapper__wide {
  overflow-x: auto;
}
.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}
.caption {
  text-align: left;
  padding: 1rem;
  text-transform: uppercase;
  background-color: #00000050;
  font-size: 1.1em;
  font-weight: 700;
}
.hidden {
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  line-height: 0px;
}
.trh {
  text-transform: uppercase;
  background-color: #ffffff10;
  padding: 1rem;
}
.th {
  text-align: left;
  padding: 1rem 0.6rem;
}
.td {
  text-align: left;
  padding: 0.5rem;
}
.tdWithImg {
  padding: 0.5rem 1rem;
}
.img {
  display: flex;
  border-radius: 0.5rem;
}
.tr {
  background-color: #ffffff30;
}
.tr__link {
  cursor: pointer;
}
.tr:nth-of-type(2n) {
  background-color: #ffffff20;
}
.tr__link:hover {
  background-color: var(--white-50);
  transition: all 0.2s;
}
