Стилизация заголовков дней .fc-day-header {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}

/* Стилизация событий */
.fc-event {
  background-color: #44d837;
  color: #fff;
  border: 1px solid #265a88;
  border-radius: 3px;
  padding: 2px 5px;
}

/* Стилизация текущей даты */
.fc-day-today {
  background-color: #ffeb3b;
}
