.box {
  overflow: hidden;
}
.interactive {
  cursor: pointer;
}
.interactive:hover svg {
  stroke: var(--color-orange);
}
.active svg {
  fill: var(--white-50);
}
.box svg {
  width: 100%;
  height: 100%;
}

.icon {
  width: 100%;
  height: 100%;
}
