.box {
  overflow: hidden;
}
.interactive {
  cursor: pointer;
}
.interactive:hover .box {
  stroke: var(--color-orange);
}
.box svg {
  width: 100%;
  height: 100%;
}
.box {
  color: var(--color-icon-default);
}
.box:hover {
  color: var(--color-icon-hover);
}
.box:active {
  transition: all 0.3s;
  color: var(--color-icon-active);
}
.box .tooltip {
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
  font-family: inherit;
}
/* ====================================================================== */
.icon__custom {
  width: 100%;
  height: 100%;
}
