.wrapper {
  display: grid;
  gap: 1rem 20px;
  grid-template-columns: 1fr 300px;
}
.wrapper__main {
  min-width: 100%;
}
.spacer__menu,
.spacer__form,
.spacer {
  margin-bottom: 2rem;
}
.error {
  color: var(--error);
}
/* ====================================================================== */
@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 100%;
  }
  .wrapper__main {
    padding-right: 0px;
    overflow: unset;
  }
  .wrapper__aside {
    margin-top: 0px;
  }
}
