.wrapper {
  display: grid;
  grid-gap: 1rem 20px;
  grid-template-columns: 1fr 468px;
}
.spacer__menu {
  margin-bottom: 2rem;
}
/* ====================================================================== */
@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 100%;
  }
  .wrapper__aside {
    margin-top: 0px;
  }
}
