.mapContainer {
  height: 500px;
  width: 100%;
  margin-bottom: 1rem;
}
.chartContainer {
  height: 300px;
  /* Что бы уменьшался/увеличился график при динамическом изменении родительского контейнера
  при 100% не работает!!! */
  width: 99%;
}
