.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  border-top: 5px solid var(--btn-bg);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
