.wrapper {
  display: grid;
  gap: 1rem 20px;
  grid-template-columns: 300px 1fr;
}
.main {
  flex: 1 1 auto;
  overflow: hidden;
}
.aside__left {
  flex: 0 0 300px;
  overflow: hidden;
}
/* ====================================================================== */
@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
