.wrapper {
  margin-bottom: 1rem;
}
.wrapper__control {
  display: flex;
  justify-content: space-between;
  gap: 1rex;
  margin-bottom: 1rem;
}
.wrapper__filters {
  background-color: var(--white-12);
  border: 1px solid var(--line);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.type {
  min-width: 150px;
}
.block__filters {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.box__quantity {
  width: auto;
  height: 34px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: inherit;
  color: inherit;
  background-color: var(--white-12);
  border: 1px solid var(--line);
  border-radius: 0.5rem;
  padding: 0 1rem;
  white-space: nowrap;
}
.box__quantity span {
  margin-right: 0;
}
.box__adjustments {
  width: auto;
  height: 34px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: inherit;
  color: inherit;
  background-color: var(--white-12);
  border: 1px solid var(--line);
  border-radius: 0.5rem;
  padding: 0 1rem;
  cursor: pointer;
}
.box__adjustments:hover {
  transition: all 0.3s;
  background-color: var(--green-dark);
  border: 1px solid var(--color-orange);
}
.adjustments__text {
  margin-right: 1rem;
}
.box__adjustments:focus {
  box-shadow: 0 0 5px 4px var(--btn-bg-hover);
  outline: none;
}
.block__reset {
  display: flex;
  justify-content: flex-end;
}
.box__reset {
  justify-content: center;
}
.box__reset span {
  margin-right: 0;
}
.box__reset:active {
  background-color: var(--white-12);
  border: 1px solid var(--line);
}
/* ====================================================================== */
@media (max-width: 992px) {
}
