.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem 2rem;
  margin-bottom: 1rem;
}
.type {
  min-width: 150px;
}
.block__filters {
  order: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.box__adjustments {
  width: auto;
  height: 34px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: inherit;
  color: inherit;
  background-color: var(--white-12);
  border: 1px solid var(--line);
  border-radius: 0.5rem;
  padding: 0 1rem;
  cursor: pointer;
}
.adjustments__text {
  margin-right: 1rem;
}
.box__adjustments:focus {
  box-shadow: 0 0 5px 4px var(--btn-bg-hover);
  outline: none;
}
/* ====================================================================== */
@media (max-width: 992px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .block__filters {
    justify-content: flex-end;
  }
  .box__adjustments {
    order: 0;
  }
  .block__filters {
    order: 1;
  }
}
