.wrapper {
  width: 100%;
}
.label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.validate {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--error);
}
.textarea {
  font-family: inherit;
  color: inherit;
  background-color: var(--white-12);
  border: 1px solid var(--line);
  border-radius: 0.5rem;
  padding: 0.6rem 3rem 0.6rem 0.5rem;
  width: 100%;
  min-width: 250px;
  resize: vertical;
}
.wrapper__relative {
  position: relative;
}
.textarea:focus {
  box-shadow: 0 0 5px 4px var(--btn-bg-hover);
}
.textarea:focus {
  outline: none;
}
.textarea:disabled {
  background-color: var(--loading);
  color: var(--line);
}
.checkmark {
  overflow: hidden;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0.5rem;
  top: calc(50% - 9px);
}
