.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.box__button {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.block__image {
  width: 100%;
  display: flex;
  gap: 40px;
}
.block__image__control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__image {
  border-radius: 0.5rem;
  object-fit: cover;
}
